.header {
  text-align: center;
  color: white;
  position: absolute;
  top: 0;
  width: 100vw;
  padding-top: 2vh;
}


.result {
  max-width: 80vw;
  margin: 0 auto;

  .col-9,
  .col-3 {
    padding: 0;
  }

  .item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: .8em;
    border-radius: 0.5em;
    margin: 0.5em 0;
    font-size: 0.9em;
    font-weight: 600;

    .title {
      text-align: left;
      padding-left: 0.6em;
      color: #3e4d58;
    }

    .total {
      font-size: 1.3em;
      font-weight: 800;
      display: inline;
      text-align: right;
    }

    i {
      font-size: 1.3em;
      padding-right: .4em;
    }
  }
}


.form-select {
  border-radius: 1em;
  border: none;
  margin-top: 0.3em;
}


.result-length{
  font-size: .9em;
  color: white;
}
