<app-header></app-header>

<div class="row mt-5 pt-3">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="vaga p-3 shadow">
      <div class="row">
        <div class="col-8">
          <div class="title">Engenharia Eólica</div>
        </div>
        <div class="col-4">
          <i class="fa fa-eye text-green" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="text-green">R$ 4.200,00</div>
        </div>
        <div class="col-6">
          <div class="text-green text-right">Inicio Imediáto</div>
        </div>
      </div>

      <div class="text">
        Horário de atuação: 2ª à 5ª das 09h00 às 19h00 e 6ª das 09h00 às 18h00
      </div>
      <div class="text">
        Será responsável por fornecer todo o suporte técnico necessário dos
        departamentos de vendas, licitações e negociação de contratos durante a
        fase de vendas e fechamento do contrato. Além disso, ele/ela será
        responsável por estender esse suporte durante a fase de construção para
        assuntos de BoP relacionados ao transporte e instalação.
      </div>

      <div class="row mt-3">
        <div class="col">
          <button
            (click)="aceite()"
            type="button"
            class="btn btn-sm btn-success btn-block shadow"
          >
            Aceitar Proposta
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="title-2">
    <div class="text">A empresa:</div>
  </div>

  <div class="empresa shadow mt-2">
    <div class="row">
      <div class="col-8">
        <div class="title">NOMEEMPRESA LTDA</div>
      </div>
      <div class="col-4">
        <div class="estrelas"><i class="fa fa-star" aria-hidden="true"></i> 4.8 </div>
      </div>
    </div>

    <div class="endereco">
      Rua endereço da empresa, 2779, sl205
    </div>

    <div class="row mt-1">
      <div class="col">
        <button
          type="button"
          class="btn btn-sm btn-light btn-block shadow"
        >
        Entrar em contato
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-sm btn-success btn-block shadow"
        >
          Ver endereço
        </button>
      </div>
    </div>
  </div>
</div>
