

.user-icon {
  background-color: white;
  color: #e6ecf4;
  padding: 0.05em;
  font-size: 3em;
  text-align: center;
  border-radius: 100%;
  width: 20vw;
  margin: 0.5em auto;
}

.esqueceu{
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: .8em;
}
