<app-header></app-header>
<!-- <img class="full-svg" src="assets/ofertas.svg" />

<div class="ofertas1-btn" [routerLink]="['/oferta']"></div>
<div class="ofertas2-btn" [routerLink]="['/oferta']"></div>
<div class="ofertas3-btn" [routerLink]="['/oferta']"></div> -->

<div class="row mt-5" [routerLink]="['/home']">
  <div class="title">
    <div class="text">Minhas Ofertas</div>
  </div>
</div>

<div class="row mt-3" [routerLink]="['/oferta']">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="vaga p-3 shadow">
      <div class="row">
        <div class="col-10">
          <div class="title">Engenharia Eólica</div>
        </div>
        <div class="col-2">
          <i class="fa fa-eye text-green" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <div class="data">
            <div class="text">21 JAN 12:00</div>
          </div>
        </div>
        <div class="col-6 text-right text-green">
          <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="salary">R$ 4.200,00</div>
        </div>
        <div class="col-6">
          <div class="text-green text-right text08">
            Início imediato
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3" [routerLink]="['/oferta']">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="vaga p-3 shadow">
      <div class="row">
        <div class="col-10">
          <div class="title">Engenharia Elétrica</div>
        </div>
        <div class="col-2">
          <i class="fa fa-eye text-gray" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <div class="data">
            <div class="text">21 JAN 12:00</div>
          </div>
        </div>
        <div class="col-6 text-right text-orange">
          <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="salary">R$ 3.300,00</div>
        </div>
        <div class="col-6">
          <div class="text-orange text-right text08">
            Aguardando documentação
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3" [routerLink]="['/oferta']">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="vaga p-3 shadow">
      <div class="row">
        <div class="col-10">
          <div class="title">Engenharia Produção
          </div>
        </div>
        <div class="col-2">
          <i class="fa fa-eye text-gray" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-6">
          <div class="data">
            <div class="text">21 JAN 12:00</div>
          </div>
        </div>
        <div class="col-6 text-right text-red">
          <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="salary">R$ 4.950,00</div>
        </div>
        <div class="col-6">
          <div class="text-red text-right text08">
            Qualificação
não compovada
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

