/* You can add global styles to this file, and also import other style files */


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";


body {
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 98vh;
  padding: 0;
  margin: 0;
}


.ofertas1-btn,
.ofertas2-btn,
.ofertas3-btn,
.conta1-btn,
.conta2-btn,
.conta3-btn,
.conta4-btn,
.top-btn,
.mid-btn,
.top50-btn,
.md1-btn,
.md2-btn,
.top30-btn,
.md3-btn,
.down30-btn,
.down-btn {
  position: absolute;
  width: 100vw;
  height: 33.3vh;
  opacity: .5;
}

.full-svg {
  // background-color: red;
}

.top-btn {
  background-color: aqua;
  top: 0;
}

.mid-btn {
  background-color: blueviolet;
  top:33.3vh;
}

.down-btn {
  background-color: red;
  bottom: 0;
}

.down30-btn {
  background-color: red;
  bottom: 0;
  height: 30vh;
}
.top50-btn {
  background-color: aqua;
  top: 0;
  height: 50vh;
}

.top30-btn {
  background-color: aqua;
  top: 20vh;
  height: 30vh;
}

.md1-btn {
  background-color: rgb(230, 0, 255);
  top: 50vh;
  height: 20vh;
  width: 33vw;
}

.md2-btn {
  background-color: rgb(255, 242, 0);
  top: 50vh;
  height: 20vh;
  width: 33vw;
  left: 33vw;
}

.md3-btn {
  background-color: rgb(0, 255, 106);
  top: 50vh;
  height: 20vh;
  width: 33vw;
  right: 0;
}

.conta1-btn{
  background-color: rgb(255, 200, 0);
  top: 24vh;
  height: 15vh;
}
.conta2-btn{
  background-color: rgb(17, 255, 0);
  top: 39vh;
  height: 15vh;
}
.conta3-btn{
  background-color: rgb(64, 0, 255);
  top: 54vh;
  height: 15vh;
}
.conta4-btn{
  background-color: rgb(255, 0, 111);
  top: 69vh;
  height: 15vh;
}

.ofertas1-btn{
  background-color: rgb(17, 255, 0);
  top: 22vh;
  height: 20vh;
}
.ofertas2-btn{
  background-color: rgb(64, 0, 255);
  top: 42vh;
  height: 20vh;
}
.ofertas3-btn{
  background-color: rgb(255, 0, 153);
  top: 62vh;
  height: 20vh;
}
