<app-header></app-header>

<div class="row mt-5 pt-3">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="vaga p-3 shadow">
      <div class="row">
        <div class="col-8">
          <div class="title">Engenharia Eólica</div>
        </div>
        <div class="col-4">
          <div class="vagas">35 vagas</div>
        </div>
      </div>

      <div class="data mt-2">
        <div class="text">21 JAN 12:00</div>
        <i class="fa fa-eye" aria-hidden="true"></i>
      </div>

      <div class="salary">de R$ 3.800,00 a R$ 5.200,00</div>

      <div class="text">
        Será responsável por fornecer todo o suporte técnico necessário dos
        departamentos de vendas, licitações e negociação de contratos durante a
        fase de vendas e fechamento do contrato. Além disso, ele/ela será
        responsável por estender esse suporte durante a fase de construção para
        assuntos de BoP relacionados ao transporte e instalação.
      </div>

      <div class="map">

      </div>

      <div class="row mt-3">
        <div class="col">
          <button
          [routerLink]="['/vaga']"
            type="button"
            class="btn btn-sm btn-light btn-block shadow"
          >
          voltar
          </button>
        </div>
        <div class="col">
          <button
          (click)="ofertas()"
            type="button"
            class="btn btn-sm btn-success btn-block shadow"
          >
            Me candidatar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
